.App {
  text-align: center;

}

.total {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.postsNtrash {
  margin: 20px;
}

.allPostsContainer {
  background-color: rgba(255, 145, 145, 0.769);
  color: white;
  width: 500px;
}

.allPosts {
  background-color: rgba(254, 97, 97, 0.769);
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.singlePost {
  background-color: rgba(248, 70, 70, 0.769);
  margin: 10px;
}

.singleTrash {
  background-color: rgba(87, 87, 237, 0.708);
  margin: 10px;

}

.allTrashContainer {
  background-color: rgba(147, 147, 247, 0.708);
  color: white;
  width: 500px;
}

.allTrash {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}
